/* Minimal styles required for tests */

ul[popover]:popover-open {
  display: flex;
}

[popover] {
  border: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: column;
}

/* Menu positioning */

.menu {
  position: relative;
  display: inline-block;
}

.menu [role="menu"] {
  position: fixed;
  inset: auto;
  margin: 0;
  top: var(--bottom);
  left: var(--left);
}

.menu [role="menu"] [role="menu"] {
  top: var(--top);
  left: var(--right);
  margin-left: 16px;
}
